<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<title>List</title>
</head>
<body>
	<div class="container-fluid">
		<h2>List</h2>
	</div>
	<div class="container-fluid" th:if="${#lists.isEmpty(person)}">
	<h5>No records have been created</h5>
	</div>
	<div class="container-fluid" th:if="${not #lists.isEmpty(person)}">
		<table class="table table-hover">
			<tr><thead>
				<th>Name</th>
				<th>PPS No.</th>
				<th>DOB</th>
				<th>Mobile Phone</th>
				<th></th>
				</thead>
			</tr>
			<tr th:each="person : ${person}">
				<td th:text="${person.name}"></td>
				<td th:text="${person.pps}"></td>
				<td th:text="${#temporals.format(person.birthDate, 'dd/MM/yyyy')}"></td>
				<td th:text="${person.mobile}"></td>
				<td>
				<a href="/personEdit/1"	th:href="@{/personEdit/__${person.id}__}" class="btn btn-primary a-btn-slide-text">
					<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit </a>
				<a href="/personDelete/1" th:href="@{/personDelete/__${person.id}__}" class="btn btn-primary a-btn-slide-text">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete</a>
				</td>
			</tr>
		</table>
	</div>
	<div class="container-fluid">
		
		<a href="/person" class="btn btn-success"> <i class="fa fa-arrow-circle-o-left"></i>Add Person</a>
		<a href="/" class="btn btn-success"> <i	class="fa fa-arrow-circle-o-left"></i>Home</a>
	</div>
</body>
</html>